/* You can add global styles to this file, and also import other style files */

/* My Google Font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --clr-primary: ;
    --clr-secondary: ;
    --clr-accent: ;

    /* --ff: 'Poppins', sans-serif; */
    --ff: 'Roboto', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fdcb6e;
    font-family: var(--ff);
}
