<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="container mt-5 pt-5">
  <div class="row align-items-stretch">
    <div class="c-dashboardInfo col-lg-3 col-md-6">
      <div class="wrap">
        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Users Active</h4>
        <span class="hind-font caption-12 c-dashboardInfo__count">{{total}}</span>
      </div>
    </div>
    <div class="c-dashboardInfo col-lg-3 col-md-6">
      <div class="wrap">
        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Learning Videos</h4>
        <span class="hind-font caption-12 c-dashboardInfo__count">{{totalVideos}}</span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5 align-items-start">
    <div class="col-lg-4">
      <h1 class="fw-bolder text-white">Courses</h1>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>

      <button type="button" class="btn btn-primary mt-4">Add New Course</button>

      <div *ngFor="let items of courseDatas; index as i" class="card mt-4 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img [src]="items.images" class="img-fluid rounded-3" alt="..." (click)="selectCourse(items.type)">
          </div>
          <div class="col-md-8">
            <div class="card-body position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{i + 1}}
              </span>
              <h5 class="card-title">{{items.title}}</h5>
              <p class="card-text">{{items.desc}}</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <button class="btn btn-success me-md-2" type="button">Edit</button>
                <button class="btn btn-danger" type="button">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <h1 class="fw-bolder text-white">All Course</h1>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" aria-label="Search" placeholder="Search by title" [(ngModel)]="enteredSearchValue" name="search" (input)="onSearchTextChange()">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>

      <button data-bs-toggle="modal" data-bs-target="#modalAddVideo" type="button" class="btn btn-primary my-4">Add New video</button>
      <button type="button" class="btn btn-success ms-4" (click)="getUserContents()">See All Courses</button>

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let items of datas?.reverse(); index as i">
          <div *ngIf="enteredSearchValue == ''|| items.title.toLowerCase().includes(enteredSearchValue)" class="card h-100 position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{i + 1}}
            </span>
            <img [src]="items.thumbnail" class="card-img-top" alt="..." height="80%" data-bs-toggle="modal" data-bs-target="#playVideo" (click)="getEmbedVideo(items.video)">
            <div class="card-body">
              <h5 class="card-title">{{items.title}}</h5>
              <p class="card-text">{{items.desc}}</p>
              <div class="d-grid gap-2 d-md-flex justify-content-center mt-2">
                <button class="btn btn-success me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#editVideo" (click)="btnEdit(items.id)">Edit</button>
                <button class="btn btn-danger" type="button" (click)="btnDelete(items.id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<!-- Modal Add New Video -->
<div class="modal fade" id="modalAddVideo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Modal Add New Video</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit) = "addVideo()">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" formControlName="title" placeholder="Input Title" required>
            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="title?.errors?.['required']">
                Title is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" name="desc" formControlName="desc" placeholder="Input Description" required>
            <div *ngIf="desc?.invalid && (desc?.dirty || desc?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="desc?.errors?.['required']">
                Description is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" name="type" formControlName="type" placeholder="Input Type Video" required>
            <div *ngIf="type?.invalid && (type?.dirty || type?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="type?.errors?.['required']">
                Type Video is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="video" class="form-label">Video Embed URL</label>
            <input type="text" class="form-control" name="video" formControlName="video" placeholder="Input Just Id Video" required>
            <div *ngIf="video?.invalid && (video?.dirty || video?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="video?.errors?.['required']">
                Url Video is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="images" class="form-label">Image</label>
            <input type="file" class="form-control" name="images" formControlName="images" (change)="onFilechange($event)" required>
            <div *ngIf="images?.invalid && (images?.dirty || images?.touched)" class="alert alert-danger mt-2">
              <div *ngIf="images?.errors?.['required']">
                Image is required.
              </div>
            </div>
          </div>
          <div class="d-flex flex-column ms-auto" style="width: 150px;">
            <button *ngIf="loadingSubmit" type="submit" class="btn btn-primary">Submit</button>
            <button *ngIf="!loadingSubmit" class="btn btn-primary" type="submit" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add New Course -->

<!-- Modal Play Video -->
<div class="modal fade" id="playVideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Play Video</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe [src]="embedVideoId | safe" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Video -->
<div class="modal fade" id="editVideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Video</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" #formEdit="ngForm" (ngSubmit)="btnSaveChange(formEdit)">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" placeholder="Your Video Title" [(ngModel)]="editU.title" name="title">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="text" class="form-control" placeholder="Description Video" [(ngModel)]="editU.desc" name="desc">
        </div>
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <input type="text" class="form-control" placeholder="Your Video Type" [(ngModel)]="editU.type" name="type">
        </div>
        <div class="mb-3">
          <label for="video" class="form-label">Video Url</label>
          <input type="text" class="form-control" placeholder="Your Video Url" [(ngModel)]="editU.video" name="video">
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary me-3" data-bs-dismiss="modal">Save changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Edit Course -->
