<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="container">
  <div class="row mt-5 align-items-start">
    <div class="col-lg-4">
      <h1 class="fw-bolder text-white">Courses</h1>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <div class="card mt-4 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="../../../assets/images/angular-thumbnail.webp" class="img-fluid rounded-3" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body position-relative">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
              </span>
              <h5 class="card-title">Angular JS</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <h1 class="fw-bolder text-white">Angular Course</h1>
      <form class="d-flex mb-4" role="search">
        <input class="form-control me-2" type="search" aria-label="Search" placeholder="Search by title" [(ngModel)]="enteredSearchValue" name="search" (input)="onSearchTextChange()">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let items of datas?.reverse(); index as i">
          <div *ngIf="enteredSearchValue == ''|| items.title.toLowerCase().includes(enteredSearchValue)" class="card h-100 position-relative">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{i + 1}}
            </span>
            <img [src]="items.thumbnail" class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#playVideo" (click)="getEmbedVideo(items.video)">
            <div class="card-body">
              <h5 class="card-title">{{items.title}}</h5>
              <p class="card-text">{{items.desc}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Play Video -->
<div class="modal fade" id="playVideo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Play Video</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe [src]="embedVideoId | safe" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
