<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="vhImg w-100 d-flex align-items-center">
  <div class="row d-flex align-items-center">
    <div class="col-lg-7">
      <img src="../../../../assets/images/regis-img.jpg" alt="register image" width="80%">
    </div>
    <div class="col-lg-3 d-flex flex-column justify-content-center">
      <h2 class="fw-bolder">Get's started</h2>
      <p class="mt-2 mb-5">Already have an account? <a class="fw-bolder" routerLink="/login">Log In</a></p>
      <form [formGroup]="registerForm" (ngSubmit) = "submitRegis()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" formControlName="name" required placeholder="Input Your Name">
          <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="name?.errors?.['required']">
              Name is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" aria-describedby="emailHelp" formControlName="email" required placeholder="Input Your Email">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="email?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email?.errors?.['email']">
              Email must be a contain @ and .com etc.
            </div>
          </div>
        </div>
        <div class="mb-5">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" formControlName="password" required placeholder="Input Your Password">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
          </div>
        </div>

        <div class="d-flex flex-column">
          <button *ngIf="loadingSubmit" type="submit" class="btn btn-primary">Submit</button>
          <button *ngIf="!loadingSubmit" class="btn btn-primary" type="submit" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </form>
    </div>
  </div>
</div>