<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="container text-white mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-md-6 d-flex justify-content-center align-items-start flex-column">
      <h3 class="fw-bolder">Bangun Karirmu Sebagai <br> Developer Profesional</h3>
      <p>Mulai belajar terarah dengan learning path</p>
      <button type="button" class="btn btn-secondary px-4 py-2 fw-bolder let-spacing mt-4" routerLink="/login">Belajar Sekarang</button>
    </div>
    <div class="col-lg-5 col-md-6">
      <img src="../../../assets/images/hero.png" class="card-img-top img-fluid" alt="">
    </div>
  </div>
</div>

<div class="container container-top">
  <div id="learningPath" class="text-center mb-5 text-white">
    <h1>Learning Path</h1>
    <p>Learning path akan membantu Anda dalam belajar di Academy <br>
      dengan kurikulum yang dibangun bersama pelaku industri ternama.</p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let items of courses">
      <div class="card h-100">
        <img [src]="items.images" class="card-img-top img-fluid" alt="angular js course">
        <div class="card-body mb-4">
          <h5 class="card-title">{{items.title}}</h5>
          <p class="card-text">{{items.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="container container-top">
  <div class="text-center mb-5 text-white">
    <h1>Testimonials</h1>
  </div>
  <!-- Carousel wrapper -->
  <div id="carouselExampleInterval" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let items of datas; first as isFirst">
        <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' " data-bs-interval="5000">
          <img class="rounded-circle shadow-1-strong mb-4"
            [src]="items.imageUrl" alt="avatar"
            style="width: 150px;" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">{{items.name}}</h5>
              <p>{{items.job}}</p>
              <p class="text-white">
                <i class="fas fa-quote-left pe-2"></i>
                {{items.text}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
</div>

<footer>
  <h1 class="fw-bolder">Tunggu apa lagi?</h1>
  <p>Belajar lebih terarah dengan learning path dan video coding</p>
  <button type="button" class="btn btn-secondary mt-4 fw-bolder" routerLink="/register" style="width: 200px;">Buat Akun</button>
</footer>
