<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="vh-94">
  <div class="row">
    <div class="col-lg-7 vh-94">
      <img class="imgMargin" src="../../../../assets/images/login-img.png" alt="login image">
    </div>
    <div class="col-lg-3 d-flex flex-column justify-content-center">
      <form [formGroup]="loginForm" (ngSubmit) = "submit()">
        <h2 class="fw-bolder mb-5">Login</h2>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" aria-describedby="emailHelp" formControlName="email" required placeholder="Input Your Email">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="email?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="email?.errors?.['email']">
              Email must be a contain @ and .com etc.
            </div>
          </div>
        </div>
        <div class="mb-5">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" formControlName="password" required placeholder="Input Your Password">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger mt-2">
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <button *ngIf="loadingSubmit" type="submit" class="btn btn-primary">Login</button>
          <button *ngIf="!loadingSubmit" class="btn btn-primary" type="submit" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
        <p class="mt-4">Don't have an account? <a class="fw-bolder" routerLink="/register">Sign Up</a></p>
      </form>
    </div>
  </div>
</div>