.navbar-custom {
    background-color: #fdcb6e;
}

.logo {
    width: 150px;
}

.btn-custom {
    width: 100px;
}

a:hover {
    color: gray !important;
}

.btnLogout:hover {
    cursor: pointer;
    color: red !important;
    background-color: transparent;
}