<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <img src="../assets/images/logo.png" class="card-img-top logo" alt="logo learning app"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-semibold me-3 text-white" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-semibold text-white" aria-current="page" href="#learningPath">Learning Path</a>
        </li>
        <li *ngIf="cekToken" class="nav-item ms-3">
          <a class="nav-link active fw-semibold text-white" aria-current="page" routerLink="/user">Lanjut Belajar</a>
        </li>
      </ul>
      <div class="d-grid gap-2 d-md-block">
        <button *ngIf="!cekToken" type="button" routerLink="/login" class="btn btn-light fw-semibold me-3 btn-custom">Login</button>
        <button *ngIf="!cekToken" type="button" routerLink="/register" class="btn btn-secondary fw-semibold btn-custom">SignUp</button>

        <div *ngIf="cekToken" class="dropdown">
          <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="data?.avatar" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-center">
            <li class="mb-2"><span>{{data?.name}}</span></li>
            <li class="mb-2"><span>Role: {{data?.role}}</span></li>
            <li class="border" ><a class="dropdown-item fw-bolder btnLogout" (click)="logout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>